{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcategory</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.idCategory }) }}">{{ category.idCategory }}</a></td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': category.idCategory }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.idCategory }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
